@charset "UTF-8";
/* CSS Document */
/* 基本色 */
$base_white: #fff;
$main_black: #000;
$accent_blue: #52b0d9;
$accent_orange: #ed9772;
/* その他の色 */
$accent_blue_light: #cfe9f5;
$accent_orange_light: #f9dacc;
$accent_blue_dark: #14465c;
$accent_orange_dark: #a13f15;
$accent_orange_button: #e56b36;
$accent_blue_with-white: #4a9ec2;
$accent_orange_with-white: #cc8262;

/* 共通 */
@font-face {
  font-family: 'Heebo';
  src: url('../font/Heebo-Regular.ttf');
}
@font-face {
  font-family: 'Heebo-Bold';
  src: url('../font/Heebo-Bold.ttf');
}
@font-face {
  font-family: 'Heebo-Black';
  src: url('../font/Heebo-Black.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: $main_black;
  background: $base_white;
  line-height: 1.5;
  font-family: 'Heebo', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'sans-serif';
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* iPhoneのSafariで角丸にならないようにする */
input[type='button'],
input[type='text'],
input[type='submit'],
input[type='image'],
input[type='email'],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/* SP用 */
/* 共通 */
.inner {
  width: 92.523vw;
  margin: 0 auto;
}
/* ドロワーメニュー */
#coverlayer {
  width: 1px;
  background: $base_white;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
}
.drawer_menu {
  position: fixed;
  top: 101px;
  /* 幅の分左にずらした状態で非表示 */
  left: -171px;
  width: 171px;
  opacity: 0;
  transition: 0.5s;
}

// ナビゲーション
nav {
  margin-bottom: 60px;
  ul {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 34px;

      &:last-of-type {
        margin-bottom: 0;
      }
      img {
        width: 26px;
        height: 26px;
        object-fit: contain;
        padding-right: 6px;
      }
      a {
        color: $main_black;
        font-size: 24px;
        font-weight: 500;
        display: block;
      }
    }
  }
  + .sns_link {
    display: flex;
    width: 158px;
    justify-content: space-between;
    margin: 0 auto;

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
    }
  }
}

/* ヘッダー */
header {
  height: 48px;

  .inner {
    height: 100%;
    margin: 0 auto;
    position: relative;
  }

  .btnHamburger {
    /* TODO:クリック後はfixedにする */
    position: absolute;
    top: 13px;
    left: 0;
    width: 30px; /* クリックエリアの横幅*/
    height: 20px; /* クリックエリアの高さ*/
    cursor: pointer;

    .line {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 27px; /* 横幅 */
      height: 4px; /* 1本辺りの高さ */
      background: $main_black; /* 線の色 */
      transition: 0.3s;
    }
    .line_01 {
      top: 0;
    }
    .line_02 {
      top: 8px;
    }
    .line_03 {
      top: 16px;
    }
  }
  h1 {
    width: 144px;
    position: absolute;
    top: 12.25px;
    left: 50%;
    transform: translateX(-50%);

    img {
      vertical-align: middle;
    }
  }
  a.btnTicket {
    position: absolute;
    right: 0;
    top: 10.5px;
    display: block;
    color: white;
    background-color: $accent_orange_button;
    padding: 3px 9px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Heebo-Bold';

    .icon {
      padding-right: 4px;
    }
  }
}

/* メインビジュアル */
.top_main {
  height: 139.486vw;
  background-image: -webkit-image-set(
    url(../images/top_main/top_main_sp@856.jpg) 1x,
    url(../images/top_main/top_main_sp@856.jpg) 2x,
    url(../images/top_main/top_main_sp@1284.jpg) 3x
  );
  background-image: image-set(
    url(../images/top_main/top_main_sp@856.jpg) 1x,
    url(../images/top_main/top_main_sp@856.jpg) 2x,
    url(../images/top_main/top_main_sp@1284.jpg) 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  /* メインビジュアル上の画像・テキスト 共通 */
  .logo,
  .date,
  .time,
  .place,
  .message {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* メインビジュアル上のテキスト 共通 */
  .date,
  .time,
  .place {
    color: $base_white;
    /* テキストの折返しをなくす */
    white-space: nowrap;
    text-shadow: 0px 4px 4px rgba(25, 53, 45, 0.8);
  }
  .logo {
    width: 61.215vw;
    top: 14.019vw;
  }
  .date {
    font-size: 9.346vw;
    font-family: 'Heebo-Black';
    top: 80.14vw;

    .day {
      font-size: 5.374vw;
      padding: 0 0.2em;
    }
    .symbol {
      padding-right: 0.2em;
    }
  }
  .time {
    font-size: 3.738vw;
    font-family: 'Heebo-Bold';
    position: absolute;
    top: 92.757vw;

    span {
      font-size: 4.206vw;
      padding: 0 0.2em;
    }
  }
  .place {
    font-size: 4.206vw;
    font-weight: bold;
    position: absolute;
    top: 97.897vw;
  }
  .message {
    width: 59.579vw;
    position: absolute;
    top: 120.327vw;
  }
}

/* SNSシェア */
.sns_share {
  background-color: $main_black;
  padding: 16px 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 4.673vw;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40.888vw;
      padding: 16px 0;
      border: 2px solid $base_white;
      border-radius: 3px;

      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
      a {
        color: $base_white;
        display: block;
        padding-left: 1em;
      }
    }
  }
}

article {
  /* article 共通 */
  &[id] {
    padding: 60px 0 100px;
  }
  h2 {
    font-family: 'Heebo-Black';
    font-size: 32px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    text-align: center;
  }

  /* article:NEWS */
  &#news {
    h2 span {
      color: $accent_blue_with-white;
    }
    dl {
      dt {
        font-size: 14px;
        font-family: 'Heebo-Bold';
      }
      dd a {
        text-decoration: underline;
        color: $main_black;
      }
    }
  }

  /* article:ARTISTS */
  &#artists {
    h2 {
      margin-bottom: 51px;

      span {
        color: $accent_orange_with-white;
      }
    }
    section {
      border: 4px solid $main_black;
      position: relative;
      padding: 67px 0 85px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 36px 2.336vw;

      &:first-of-type {
        margin-bottom: 63px;
      }
      h3 {
        font-family: 'Heebo-Bold';
        font-size: 27px;
        background-color: $base_white;
        padding: 10px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      > div {
        width: 41.355vw;
        text-align: center;

        > div {
          margin-bottom: 1.5px;
        }
        > p {
          font-family: 'Heebo-Bold';
        }
      }
    }
  }

  /* article:TIME TABLE */
  &#time_table {
    .inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    h2 {
      width: 100%;

      span {
        color: $accent_blue_with-white;
      }
    }
    .date_select {
      color: #848484;
      background-color: #d5d5d5;
      cursor: pointer;
      font-size: 24px;
      font-family: 'Heebo-Bold';
      width: 44.159vw;
      border-radius: 3px;
      text-align: center;
      padding: 6px 0;

      &.is_active {
        color: $base_white;
        background-color: $main_black;
      }
      span {
        font-size: 16px;
        padding-left: 0.3em;
      }
    }
    .time_table {
      width: 100%;
      padding-top: 30px;

      .time_table_row {
        display: flex;
        height: 60px;

        &.heading {
          height: 32px;
          margin-bottom: 10px;

          .stage {
            > div {
              color: $base_white;
              text-align: center;
              line-height: 32px;
              font-family: 'Heebo-Bold';
            }
            &.stage_1 {
              background-color: $accent_blue_with-white;
            }
            &.stage_2 {
              background-color: $accent_orange_with-white;
            }
          }
        }

        &:nth-of-type(2) .stage_2 {
          position: relative;

          &::after {
            content: 'OPEN 9:30 / START 10:00';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            /* テキストの折返しをなくす */
            white-space: nowrap;
            background-color: $base_white;
            font-size: 14px;
            padding: 4px 8px;
          }
        }

        .time {
          width: calc((68 / 396) * 100%);
          text-align: center;
          font-size: 14px;

          > div {
            transform: translateY(-50%);
          }
        }

        .stage {
          width: calc((164 / 396) * 100%);
          position: relative;

          .artist_name {
            padding: 2.5px 0 0 8px;
            height: 100%;
            font-family: 'Heebo-Bold';
          }
          .time_label {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(-100%);
            font-size: 12px;
            padding: 2px 8px;
            color: $base_white;
          }
          &.stage_1 {
            background-color: $accent_blue_light;

            .artist_name {
              background-color: $accent_blue;
            }
            .time_label {
              background-color: $accent_blue_dark;
            }
          }
          &.stage_2 {
            background-color: $accent_orange_light;

            .artist_name {
              background-color: $accent_orange;
            }
            .time_label {
              background-color: $accent_orange_dark;
            }
          }
        }
      }
    }
  }

  // article:TICKET
  &#ticket {
    h2 {
      width: 100%;

      span {
        color: $accent_orange_with-white;
      }
    }
    section {
      width: 100%;
      border: 3px solid $main_black;
      border-radius: 10px;
      padding: 30px 0;
      text-align: center;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 30px;
      }
      h3 {
        font-size: 23px;
        margin-bottom: 8px;
        span {
          font-size: 34px;
          font-family: 'Heebo-Black';
          padding-right: 0.2em;
          &.day_1 {
            color: $accent_blue_with-white;
          }
          &.day_2 {
            color: $accent_orange_with-white;
          }
        }
      }
      p {
        font-size: 20px;
        font-weight: bold;
        span {
          font-size: 32px;
          font-family: 'Heebo-Bold';
          padding-left: 0.5em;
        }
      }
    }
    p.note {
      font-size: 14px;
      &:last-of-type {
        margin-bottom: 79px;
      }
    }
    .buy_ticket {
      div {
        font-size: 26px;
        font-family: 'Heebo-Black';
        background-color: $main_black;
        color: $base_white;
        padding: 14px 0;
        text-align: center;
        margin-bottom: 20px;
      }
      ul li {
        a {
          display: block;
          cursor: pointer;
          padding: 14px 0;
          font-size: 18px;
          background-color: $accent_orange_button;
          box-shadow: 0 6px 0 $accent_orange_dark;
          color: $base_white;
          text-align: center;
          width: 83.645vw;
          margin: 0 auto 16px;
          border-radius: 8px;
          position: relative;
          transition: 0.3s;
          &:hover {
            box-shadow: none;
            transform: translateY(6px);
          }
          &::after {
            content: '\f138';
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
          }
        }

        &:last-of-type a {
          margin-bottom: 0;
        }
      }
    }
  }
}

/*
TAB用
 */
@media screen and (min-width: 600px) {
}
/*
PC用
*/
@media screen and (min-width: 980px) {
}
