@charset "UTF-8";
/* CSS Document */
/* 共通 */
@font-face {
  font-family: 'Heebo';
  src: url('../font/Heebo-Regular.ttf');
}
@font-face {
  font-family: 'Heebo-Bold';
  src: url('../font/Heebo-Bold.ttf');
}
@font-face {
  font-family: 'Heebo-Black';
  src: url('../font/Heebo-Black.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  color: #000;
  background: #fff;
  line-height: 1.5;
  font-family: 'Heebo', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, 'sans-serif';
}
img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
/* iPhoneのSafariで角丸にならないようにする */
input[type='button'],
input[type='text'],
input[type='submit'],
input[type='image'],
input[type='email'],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

/* SP用 */
/* 共通 */
.inner {
  width: 92.523vw;
}
/* ドロワーメニュー */
#coverlayer {
  width: 1px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  opacity: 1;
  transition: 0.5s;
}
.drawer_menu {
  position: fixed;
  top: 101px;
  /* 幅の分左にずらした状態で非表示 */
  left: -171px;
  width: 171px;
  opacity: 0;
  transition: 0.5s;
}
nav {
  margin-bottom: 60px;
}
nav ul li {
  display: flex;
  align-items: center;
  margin-bottom: 34px;
}
nav ul li:last-of-type {
  margin-bottom: 0;
}
nav ul li img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  padding-right: 6px;
}
nav ul li a {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  display: block;
}
nav + .sns_link {
  display: flex;
  width: 158px;
  justify-content: space-between;
  margin: 0 auto;
}
nav + .sns_link img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* ヘッダー */
header {
  height: 48px;
}
header .inner {
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.btnHamburger {
  /* TODO:クリック後はfixedにする */
  position: absolute;
  top: 13px;
  left: 0;
  width: 30px; /* クリックエリアの横幅*/
  height: 20px; /* クリックエリアの高さ*/
  cursor: pointer;
}
.btnHamburger .line {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 27px; /* 横幅 */
  height: 4px; /* 1本辺りの高さ */
  background: #000; /* 線の色 */
  transition: 0.3s;
}
.btnHamburger .line_01 {
  top: 0;
}
.btnHamburger .line_02 {
  top: 8px;
}
.btnHamburger .line_03 {
  top: 16px;
}
header h1 {
  width: 144px;
  position: absolute;
  top: 12.25px;
  left: 50%;
  transform: translateX(-50%);
}
header h1 img {
  vertical-align: middle;
}
header a.btnTicket {
  position: absolute;
  right: 0;
  top: 10.5px;
  display: block;
  color: white;
  background-color: #e56b36;
  padding: 3px 9px;
  border-radius: 3px;
  font-size: 14px;
  font-family: 'Heebo-Bold';
}
header a.btnTicket .icon {
  padding-right: 4px;
}

/* メインビジュアル */
.top_main {
  height: 139.486vw;
  background-image: -webkit-image-set(
    url(../images/top_main/top_main_sp@856.jpg) 1x,
    url(../images/top_main/top_main_sp@856.jpg) 2x,
    url(../images/top_main/top_main_sp@1284.jpg) 3x
  );
  background-image: image-set(
    url(../images/top_main/top_main_sp@856.jpg) 1x,
    url(../images/top_main/top_main_sp@856.jpg) 2x,
    url(../images/top_main/top_main_sp@1284.jpg) 3x
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* メインビジュアル上の画像・テキスト 共通 */
.top_main .logo,
.top_main .date,
.top_main .time,
.top_main .place,
.top_main .message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/* メインビジュアル上のテキスト 共通 */
.top_main .date,
.top_main .time,
.top_main .place {
  color: #fff;
  /* テキストの折返しをなくす */
  white-space: nowrap;
  text-shadow: 0px 4px 4px rgba(25, 53, 45, 0.8);
}
.top_main .logo {
  width: 61.215vw;
  top: 14.019vw;
}
.top_main .date {
  font-size: 9.346vw;
  font-family: 'Heebo-Black';
  top: 80.14vw;
}
.top_main .date .day {
  font-size: 5.374vw;
  padding: 0 0.2em;
}
.top_main .date .symbol {
  padding-right: 0.2em;
}
.top_main .time {
  font-size: 3.738vw;
  font-family: 'Heebo-Bold';
  position: absolute;
  top: 92.757vw;
}
.top_main .time span {
  font-size: 4.206vw;
  padding: 0 0.2em;
}
.top_main .place {
  font-size: 4.206vw;
  font-weight: bold;
  position: absolute;
  top: 97.897vw;
}
.top_main .message {
  width: 59.579vw;
  position: absolute;
  top: 120.327vw;
}

/* TAB用 */
@media screen and (min-width: 600px) {
}
/* PC用 */
@media screen and (min-width: 980px) {
}
